
 /*상단 띄우기*/
.notLoginTop {
  position: absolute;
  top:10%;
  width:100%;
  height:10%;
  text-align: center;
  line-height: 300%;
}
  /*로고이미지*/
.notLoginImgLogo > img{
  position: absolute;
  left: 5%;
  width:25%;
}
  /*로고 텍스트*/
.notLoginTextLogo{
  position: relative;
  left: 30%;
  top:8%;
  line-height: 400%;
  width:65%;
  height:130%;
  font-size: 22px;
  background-color: #FF7012;
  color:white;
}

  /*로그인 메인박스 테두리*/
.loginMainBox{
  position: absolute;
  top: 30%;
  left:10%;
  width:80%;
  height:50%;
  border : 3px black solid;
}

  /*ID입력란*/
.idTextBox{
  position: absolute;
  top: 25%;
  left:8%;
}

  /*PW입력란*/
.pwTextBox{
  position: absolute;
  top:35%;
  left:8%;
}

  /*ID, PW 글씨*/
.textID, .textPW{
  width:15%;
}

  /*ID,PW input태그*/
#inputId, #inputPw {
  border: 2px solid black;
}

  /*로그인 버튼*/
.LoginBtn{
  position: absolute;
  top:43.1%;
  left:65%;
  background-color: #01B0F1;
  width:20%;
  height: 9%;
  border-radius: 15%;
}
  /*로그인 버튼 글씨*/
.LoginBtn > p{
  text-align: center;
  color: white;
  line-height: 350%;
}
