/*버튼3개를 담고있는 div*/
#modeBtns{
  position: absolute;
  top:15%;
  width: 100%;
  height: 10%;
}


/*각 버튼 3개 크기 지정*/
#modeBtns > div{
  position: relative;
  width: 20%;
  height: 100%;
}

  /*알림내용 버튼*/
#tICheck_Notification_btn{
  position: relative;
  display: inline-block;
  left: 14%;
  background-color: black;
}

  /*발달사항 버튼*/
#tICheck_DevelopGraph_btn{
  position: relative;
  display: inline-block;
  left:19%;
  background-color: blue;
}

  /*특이사항 버튼*/
#tICheck_Signficant_btn{
  position: relative;
  display: inline-block;
  left:24%;
  background-color: red;
}

/*탑메뉴 아래의 전체*/
#tICheck{
 position: absolute;
 top:25%;
 width: 100%;
 height: 75%;
}

#tICheck > div{
  position: absolute;
  display: inline-block;
}

#tICheck_childBox_div{
  /*position: relative;*/
  /*display: inline-block;*/
  top:15%;
  left: 3%;
  width: 25%;
  height: 30%;
  border: 1px black solid;
  background-color: red;
}

  /*원아 사진,이름 담고있는 div*/
.tICheck_childBox{
  position: relative;
  width: 100%;
  height: 100%;
  /*background-color: gray;*/
}

  /*원아 사진 담고있는 div*/
.tICheck_imgsDiv{
  position: relative;
  width: 100%;
  height:75%;

  /*border: 1px black solid;*/
}

  /*원아 사진 img*/
.tICheck_imgsDiv > img{
  position: relative;
  width: 100%;
  height: 95%;
  /*border: 1px black solid;*/
}

  /*원아 이름 담고있는 div*/
.tICheck_namesDiv{
  position: relative;
  top:5%;
  width: 100%;
  height:20%;
}

  /*원아이름 글씨*/
.tICheck_namesDiv > p {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 200%;
}

  /*모드 화면*/
#modeContents{
  display: inline-block;
  top:5%;
  left: 30%;
  width: 68%;
  height: 92%;
  background-color: #dddddd;
}

#notification_div{
  position: relative;
  top: 2%;
  left: 2%;
  width: 95%;
  height: 50%;
  background-color: gray;
}


  /*뒤로 돌아가기 버튼*/
#backTurnBtn{
  top:75%;
  left: 5%;
  width: 20%;
  height: 15%;
  background: #DCE6F2;
}
