
/*원아 선택 스크롤 영역*/
#albumChildSelect {
position: absolute;
top:15%;
left:5%;
width:90%;
height: 55%;
border: 2px black solid;
overflow-x: hidden;
overflow-y: scroll;

}

  /*스크롤 바 보이지 않게 하기*/
#albumChildSelect::-webkit-scrollbar{
  display: none;
}

  /*사진 틀 테이블*/
#childTable{
  background-color: #DCE6F2;
}

  /*사진이름 틀*/
#albumImageAndName > div{
  position: relative;
  top:5%;
  left:5%;
  width: 90%;
  /*border: 2px red solid;*/
  margin-top: 3%;
  background-color: #DCE6F2;
}

  /*사진*/
#albumImageAndName > div > img{
  position: relative;
  margin-top: 1%;
  left:10%;
  width:30%;
  border: 2px black solid;
  border-radius: 100%;
}

  /*이름 틀*/
#albumImageAndName > div > div{
  position: relative;
  width: 30%;
  float: right;
  margin-top: 3%;
  margin-right: 7%;
  padding: 7%;
  background-color: #4F81BD;
  border-radius: 10%;

}
  /*이름 글씨*/
#albumImageAndName > div > div > p{
  position: relative;
}


  /*기타 사진 버튼*/
#etcPicture{
  position: absolute;
  top:73%;
  left:5%;
  width: 90%;
  height:10%;
  border: 2px black solid;
  overflow: hidden;
  background-color: #DCE6F2;
}

  /*기타 사진 글씨*/
#etcPicture > p {
  position: relative;
  font-size: 150%;
  top:25%;
  left:35%;
}

#albumChildSearchBox{
  position: absolute;
  top:87%;
  left:5%;
  width: 60%;
  height: 5%;
  border: 2px black solid;
  text-align: center;
}

#albumChildSearchBtn{
  position: absolute;
  top:87%;
  right:5%;
  width: 23%;
  height: 5.5%;
  border: 2px black solid;
}

#albumChildSearchBtn > p{
  padding-top: 5%;
  text-align: center;
  font-size: 120%;
}
